/**
* @name Mori Calliope Theme
* @author Sul#3337
* @authorLink https://github.com/GoldenLys
* @version 1.0
* @invite SBuYeHh
* @description Purple Wizard's Elysia theme, edited by Sul#3337
* @source https://github.com/GoldenLys/BetterDiscord-Elysia
* @website https://goldenlys.github.io/ThemeGen
*/
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/aerobase.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/RGB/2.css");

/* PLUGINS */

@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HoverMemberList.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/NoOffline.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HorizontalServerList.css");

/* CONFIG */

:root {
--title: "Mori Calliope";
--background: url("https://konachan.com/sample/928f1feb191aafa234241b89b7ff632a/Konachan.com%20-%20323151%20sample.jpg");
--font: "Arial";
--time: 5s;
--Online: rgb(0 255 136);
--Idle: rgb(0 99 156);
--Unavailable: rgb(228 15 0);
--Offline: rgb(90 95 100);
--Playing: url("https://steamuserimages-a.akamaihd.net/ugc/1627444779488406161/1284F4BB7781883E54DF79B64427CB71597A8256/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
--Xbox: url("https://steamuserimages-a.akamaihd.net/ugc/1627444779488406161/1284F4BB7781883E54DF79B64427CB71597A8256/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
--Spotify: url("https://steamuserimages-a.akamaihd.net/ugc/1627444779488406161/1284F4BB7781883E54DF79B64427CB71597A8256/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
--Streaming: url("https://steamuserimages-a.akamaihd.net/ugc/1627444779488406161/1284F4BB7781883E54DF79B64427CB71597A8256/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
--grey: rgb(77 70 85);
--darkgrey: rgb(18 18 18);
--ChatBox: var(--darkgrey5);
--Sidebar: var(--darkgrey5);
--SendMessage: var(--darkgrey);
--logo: url("https://64.media.tumblr.com/6a78df5b01060b911ee33ec557a69253/83c2799da794d911-6b/s1280x1920/a5f0076089de344760c464073529f03fa30a1d25.gifv");
--HoverMessage: var(--darkgrey5);
--JoinUs: "Join this server";
--AddNewServer: "➕ Add a new server for your friends";
--Close: "🔴";
--Resize: "🔵";
--Hide: "⚫";
--ProfilePic: "Watch me";
--Unread: "✨";
--Options: "⚙️";
--Emoji: "🙂";
--EmojiHover: "😜";
--Channel: "💬";
--Voice: "🔊";
--Community: "purpies";
--WelcomeMessage: "✨ Welcome to Mori Calliope's Shinigami Theme";
--Watermark: "Made with 💖 by Sul#3337";
--EditStatus: "Put another status";
--Folders: "📁";
--C1: rgb(218 104 160);
--C2: rgb(167 1 81);
--FoldersOpen: "💠";
--Micro: "🎙️";
--Headset: "🎧";
--TitleBG: var(--darkgrey5);
--ServerSize: 45px;
--WriteMessage: "Write a message...";
--ListenAlong: "Listen Along";
--StreamingColor: rgb(78 0 180);
--ServerColumns: 1;
--Highlighted: var(--grey5);
--ActiveBox: rgb(235 235 235);
--grey5: rgba(77 70 85 / 50%);
--darkgrey5: rgba(18 18 18 / 75%);
} /* Made by Sul#3337 (Purple Wizard's theme Elysia) */